#time {
    font-size: 40px;
    text-align: right;
    font-family: arial;

}

#date {
     font-size: 30px;
     text-align: right;
     font-family: arial;

 }

#actualMeteo {
    border: 2px solid black;
}

.icon {
    width: 3em;
    height: auto;
}